In [3]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
### or we can store as list of tuples

weather_data = [('1/1/2017',32,6,'Rain'),('1/2/2017',35,7,'Sunny'),('1/3/2017',28,2,'Snow'),
               ('1/4/2017',24,7,'Snow'),('1/5/2017',32,4,'Rain'),('1/6/2017',31,2,'Sunny')]
df = pd.DataFrame(weather_data,columns=['Date','Temperature','wind_speed','event'])
df

       Date  Temperature  wind_speed  event
0  1/1/2017           32           6   Rain
1  1/2/2017           35           7  Sunny
2  1/3/2017           28           2   Snow
3  1/4/2017           24           7   Snow
4  1/5/2017           32           4   Rain
5  1/6/2017           31           2  Sunny

In [12]:
### to print some rows from head---head() function is used

df.head(2)                   #default is 5

       Date  Temperature  wind_speed  event
0  1/1/2017           32           6   Rain
1  1/2/2017           35           7  Sunny

In [14]:
### to print some rows from tail---tail() is used

df.tail(2)                     #here also default value is 5

       Date  Temperature  wind_speed  event
4  1/5/2017           32           4   Rain
5  1/6/2017           31           2  Sunny

In [19]:
## to print 2 or more columns of df 

df['Date']

#or
df.Date

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Date, dtype: object

In [20]:
### we could also slice data frame

df[2:5]

       Date  Temperature  wind_speed event
2  1/3/2017           28           2  Snow
3  1/4/2017           24           7  Snow
4  1/5/2017           32           4  Rain

In [21]:
## to know everything about a column 

df['Temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: Temperature, dtype: float64

In [22]:
df[df['Temperature']==df['Temperature'].max()]

       Date  Temperature  wind_speed  event
1  1/2/2017           35           7  Sunny

In [24]:
df['Date'][df['Temperature']==df['Temperature'].max()]

1    1/2/2017
Name: Date, dtype: object